---
layout: default
---
<!-- {% assign posts_count = paginator.posts | size %} -->

<div class="home">
	<div class="posts" style="display: flex; flex-wrap: wrap;">
		{% for collection in site.collections %}
		{% if collection.docs != empty %}
		<h2>{{ collection.title }}</h2>
		{% endif %}
		{% for post in collection.docs %}
		<div class="post py1 post-link-contents" style="flex: 1; min-width: 100%;">
			<div style="justify-content: left;">
				<div class="post-meta" style="margin-right: 1em;">
					{% if site.date_format %}
					{{ post.date | date: site.date_format }}
					{% else %}
					{{ post.date | date: "%b %-d, %Y" }}
					{% endif %}
				</div>

				<a href="{{ post.url | relative_url }}" class="post-link">
					<h3 class="h4 post-title">{{ post.title }}</h3>
				</a>
			</div>

			<!-- <span class="post-summary">
						{% if post.summary %}
						{{ post.summary }}
						{% else %}
						{{ post.excerpt }}
						{% endif %}
					</span> -->
		</div>
		{% endfor %}
		{% endfor %}
	</div>

	<!-- {% include pagination.html %} -->
	<!-- <h1 class='center'>{{ site.text.index.coming_soon }}</h1> -->
</div>