/* Basscss Color Base */

body {
  color: var(--light-gray);
  background-color:var(--dark-gray);
}

a {
  color: var(--blue);
  text-decoration: none;
}

pre,
code {
  background-color: var(--lighter-gray);
  border-radius: $border-radius;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
}
