<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ "/" | relative_url }}" class="site-title">{{ site.title }}</a>
      <nav class="site-nav">
        <div style="line-height: 0.7rem; margin-top: -1.2rem;">
          <div style="text-align: right;">
            <a style="cursor: pointer;" onclick="themeSwitcher()">
              <svg style="width: 1.5rem; margin-left: auto; margin-right: 0;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth="5" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" /></svg>
            </a>
          </div>
          <br/>
          <a href="https://dcostap.github.io/personal-web/">> my webpage</a>
        </div>
        <!-- {% include navigation.html %} -->
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
