
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0em;
  padding-bottom: 0em;
  border-bottom: thin solid #838383;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-bottom: 2em;
  margin-top: 0.5em;
  font-weight: 600;
  color: var(--light-gray);
}

.meta,
.post-meta {
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: var(--mid-gray);
  font-style: italic;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
