
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0em;
  padding-bottom: 0em;
  border-bottom: thin solid #838383;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-bottom: 2em;
  margin-top: 0.5em;
  font-weight: 600;
  color: var(--light-gray);
}

.post-footer {
  @extend .italic;

  padding: 0rem;
  padding-bottom: 0.3rem;
  padding-top: 1rem;

  margin-top: 5rem;
  text-align: center;

  position: relative;
  display: grid;
}


.post-footer:before {
  content:"";
  background-color: var(--mid-darker-gray);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: var(--mid-gray);
  font-style: italic;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
