// Typography
$base-font-size: 1.1rem !default;
$small-screen-font-size: 1rem;
$bold-font-weight: 600 !default;
$font-family: "Merriweather", "Lora", "Montserrat", "Lato", "PT Serif", Georgia, "Times New Roman", serif !default;
$line-height: 1.3 !default;
$heading-font-family: "Open Sans", "Jost", "Helvetica Neue", Helvetica, sans-serif !default;
$heading-font-weight: 700 !default;
$heading-line-height: 1.2 !default;
$monospace-font-family: "Source Code Pro", Consolas, monospace !default;
$h1: 2.1rem !default;
$h2: 1.6rem !default;
$h3: 1.2rem !default;
$h4: 1rem !default;
$h5: 0.85rem !default;
$h6: 0.65rem !default;
$h00: 4rem !default;
$h0: 3rem !default;
$h00-responsive: 8vw !default;
$h0-responsive: 6vw !default;
$h1-responsive: 4vw !default;
$h00-responsive-max: 7.68rem !default;
$h0-responsive-max: 5.76rem !default;
$h1-responsive-max: 3.84rem !default;
$abbr-border-bottom: 1px black dotted;

// Page width
$measure-width: 44rem !default;

// Viewport widths
$viewport-small: 14em;
$viewport-medium: 33em;
$viewport-large: 61em;

// Colors
:root {
--blue: #0076df;
--red: #f95020;
--green: #00cf26;
--yellow: #efcc00;
--orange: #ffcc22;
--purple: #f92080;
--dark-blue: #00369f;
--green: #00ab37;
--dark-green: #009f06;
--light-pink: #ffdddd;
--light-green: #ddffdd;
--dark-gray: #303030;
--mid-gray: rgb(219, 219, 219);
--light-gray: rgb(236, 236, 236);
--lighter-gray: rgb(255, 255, 255);
--darken-1: rgba(#000, 0.0625);
--darken-2: rgba(#000, 0.125);
--darken-3: rgba(#000, 0.25);
--darken-4: rgba(#000, 0.5);
--link-effect-color1: rgba(182, 233, 248, 0%);
--link-effect-color2: rgba(182, 233, 248, 20%);
--link-effect-color3: #444;
--link-effect-color4: rgba(193, 217, 231, 0.3);

--code-bg: var(--dark-gray);
--code-functions: #5ab5f1;
--code-comments: #928374;
--code-text: #85be4e;
--code-symbols: #fbe9c7;
--code-normal-text: var(--lighter-gray);
}

// TODO implement light mode switch
// (in-progress, the class selector doesn't work, always executes the css block)

// https://derekkedziora.com/blog/dark-mode-revisited

html[data-theme="light"] {
    --blue: #0076df;
    --red: #f95020;
    --green: #00cf26;
    --yellow: #efcc00;
    --orange: #ffcc22;
    --purple: #f92080;
    --dark-blue: #00369f;
    --green: #00ab37;
    --dark-green: #009f06;
    --light-pink: #ffdddd;
    --light-green: #ddffdd;
    --dark-gray: rgb(246, 246, 246);
    --mid-gray: rgb(122, 122, 122);
    --light-gray: rgb(50, 50, 50);
    --lighter-gray: rgb(0, 0, 0);
    --darken-1: rgba(rgb(255, 255, 255), 0.0625);
    --darken-2: rgba(rgb(255, 255, 255), 0.125);
    --darken-3: rgba(rgb(255, 255, 255), 0.25);
    --darken-4: rgba(rgb(255, 255, 255), 0.5);
    --link-effect-color1: rgba(118, 140, 146, 0);
    --link-effect-color2: rgba(127, 161, 168, 0.2);
    --link-effect-color3: rgb(43, 43, 43);
    --link-effect-color4: rgb(199, 205, 207);

--code-bg: #e7e9ec;
--code-functions: #8250df;
--code-comments: #6e7781;
--code-text: #20466e;
--code-symbols: rgb(0, 0, 0);
--code-normal-text: var(--lighter-gray);
}

// Links
$link-color: var(--light-gray);
$link-hover-color: var(--lighter-gray);

// Breakpoints
$breakpoint-md: "(min-width: 52em)";
$breakpoint-xl: "(min-width: 96em)";

// Whitespace
$space-1: 0.6rem !default;
$space-2: 1.3rem !default;
$space-3: 2.1rem !default;
$space-4: 4.1rem !default;

// Buttons
$button-font-size: inherit !default;
$button-font-weight: normal !default;
$button-line-height: 1.125rem !default;
$button-padding-y: 0.5rem !default;
$button-padding-x: 1rem !default;
$button-font-family: $heading-font-family;

// Forms
$form-field-font-size: 1rem !default;
$form-field-height: 2.25rem !default;
$form-field-padding-y: 0.5rem !default;
$form-field-padding-x: 0.5rem !default;

// Borders
$border-color: var(--light-gray) !default;
$border-width: 1px !default;
$border-radius: 3px !default;

// Forms
$form-field-font-size: 1rem;
$form-field-height: 2.25rem;
$form-field-padding-y: 0.5rem;
$form-field-padding-x: 0.5rem;

// Code
$pre-border-radius: 0;
$pre-background-color: var(--dark-gray);
$hljs-comment: rgb(207, 207, 207);
$hljs-keyword: var(--light-gray);
$hljs-name: var(--light-gray);
$hljs-number: var(--dark-green);
$hljs-string: var(--red);
$hljs-title: var(--red);
$hljs-type: var(--light-gray);
$hljs-tag: var(--light-gray);
$hljs-attribute: var(--dark-green);
$hljs-regexp: var(--dark-green);
$hljs-symbol: var(--purple);
$hljs-built-in: var(--light-gray);
$hljs-preprocessor: var(--mid-gray);
$hljs-deletion: var(--light-pink);
$hljs-addition: var(--light-green);
$hljs-change: var(--light-gray);
$hljs-chunk: var(--light-gray);

// Header
$header-border-top: thin solid #f3f3f3;
$header-color: var(--light-gray);
$header-bg-color: var(--dark-gray);
$header-font-weight: 300;

// Nav
$nav-color: var(--mid-gray);
$nav-padding: $space-2;
$nav-link-padding-x: $space-2;
$nav-link-border-bottom: 2px solid #444;
$nav-active-border-bottom: 1px solid var(--light-gray);

// Footer
$footer-border-top: none;
$footer-padding: $space-3;
$footer-color: #7a7a7a;
$footer-bg-color: var(--dark-gray);
$footer-font-weight: 300;
$footer-font-size: 0.75rem;


:root {
    --nav-link-color: rgb(240, 240, 240);
}

html[data-theme="light"] {
    --nav-link-color: rgb(46, 46, 46);
}
